@import "../../styles/font";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 130px;
  width: 80%;
  margin: auto;
  padding-left: 20px;
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 56px;
  h1 {
    font-family: $rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;

    color: #ffffff;
  }
}

.joinIcons {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;

  position: relative;
  img {
    position: absolute;
  }
}

#logoWhite {
  transition: all;
  animation: 5s animationLogo forwards cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 2s;
  top: 30px;
  left: 10px;
  opacity: 0.1;
}

@keyframes animationLogo {
  0% {
    opacity: 0.1;
    top: 30px;
    left: 10px;
    transform: scale(1.3) rotate(200deg);
  }
  100% {
    opacity: 1;
    top: -18px;
    left: -15px;
    transform: scale(1) rotate(0deg);
  }
}

.headerProfileOutput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 56px;
  span {
    padding-right: 10px;

    font-family: $rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #ffffff;
  }
  img {
    cursor: pointer;
    transition: all 0.8s;
    &:hover {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: column;

    height: 200px;
    width: 80%;
    margin: auto;
    padding: 0;
  }

  .headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
    width: 40%;
    height: 56px;
    margin-top: 50px;
    h1 {
      font-family: $rubik;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 43px;

      color: #ffffff;
    }
  }

  .headerProfileOutput {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 5px;
    gap: 10px;

    height: 56px;
    span {
      padding-right: 10px;

      font-family: $rubik;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 17px;

      color: #ffffff;
    }
    img {
      cursor: pointer;
      transition: all 0.8s;
      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
      }
    }
  }
}
